# Created by .ignore support plugin (hsz.mobi)

# PyCharm project files with settings
.idea

# jupyter notebooks checkpoints
notebooks/.ipynb_checkpoints

# data that has been downloaded locally
data/datasets/

# cache files
test/code/.cache
source/code/.cache